body {
  font-family: 'Advent Pro', 'Verdana';
  font-size: 14px;
  line-height: 1.3;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

p {
  padding: .5em .25em;
}